@use '../settings' as setting;
@use '../tools' as tool;

.o-container {
  box-sizing: content-box;
  padding-left: setting.spaces(base);
  padding-right: setting.spaces(base);
  margin-left: auto;
  margin-right: auto;
  &\:header {
    position: fixed;
    background: rgba(setting.brandcolor(base), .7);
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    padding: 6px clamp(setting.spaces(2xs), calc(3.5vw - setting.spaces(base)), setting.spaces(base));
    display: flex;
		align-items: center;
		justify-content: space-between;
    box-shadow: 0 0px 2px setting.brandcolor(dark);
  }
  &\:innerWrap,
  .c-inner-wrap {
    max-width: setting.itemsize(content);
  }
  &\:main,
  &\:underPage {
    max-width: setting.itemsize(wrapper);
  }
  &\:footer {
    text-align: center;
    background: setting.brandcolor(base);
    font-size: setting.fontsize(xs);
    color: setting.lightcolor(bg);
    padding-bottom: clamp(calc(93px + setting.spaces(base)), calc((448px - 100vw) * 999), calc(155px + setting.spaces(base)));
  }
}
.c-inner-wrap {
  margin-left: auto;
  margin-right: auto;
}
.c-copyright {
  font-family: setting.$font-family-mrn;
}