@use '../settings' as setting;
.o-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  &\:sliderOver,
  &\:headingInner {
    padding-left: setting.spaces(base);
    padding-right: setting.spaces(base);
    text-align: center;
    position: absolute;
    color: setting.lightcolor(bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  &\:headingInner {
    line-height: setting.lineheight(heading);
    font-weight: setting.fontweight(b);
    font-size: clamp(setting.fontsize(l), calc((100vw - 360px) * 999), setting.fontsize(xl));
    gap: setting.spaces(s);
    background: rgba(setting.lightcolor(txt), 0.7);
  }
  &\:sliderOver {
    background: rgba(setting.brandcolor(base), .5);
    gap: setting.spaces(s);
  }
}
.c-page-heading {
  position: relative;
  max-height: 450px;
  overflow: hidden;
}
.c-slider-copy {
  &__icon {
    line-height: 1;
    font-size: clamp(setting.fontsize(l), calc((100vw - 360px) * 999), setting.fontsize(xl));
  }
  &__logo {
    line-height: setting.lineheight(heading);
    font-family: setting.$font-family-mrn;
    font-weight: setting.fontweight(b);
    position: relative;
    top: 10px;
    font-size: clamp(setting.fontsize(m), calc((100vw - 360px) * 999), setting.fontsize(l));
  }
}