@use '../settings' as setting;
@use '../tools' as tool;

.c-btn {
  background: setting.brandcolor(base);
  display: table;
  padding: setting.spaces(xs) setting.spaces(s);
  font-weight: setting.fontweight(b);
  font-size: setting.fontsize(m);
  appearance: none;
  border: solid 1px transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
  &:hover,
  &:focus {
    opacity: 1;
    color: setting.brandcolor(light);
    background: setting.brandcolor(dark);
  }
  &--submit {
    padding-left: setting.spaces(m);
    padding-right: setting.spaces(m);
    transition: all setting.animes(duration) setting.animes(timing);
    &:disabled {
      pointer-events: none;
      background: var(--c-overlay);
      color: var(--c-dimmed);
    }
  }
  &\:topicList,
  &\:envelop {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: max-content;
    align-items: center;
    gap: setting.spaces(xs);
  }
  &\:copy {
    flex-shrink: 0;
  }
  &\:float {
    width: 100%;
    text-align: center;
    margin-left: clamp(0px, calc((448px - 100vw) * 999), setting.spaces(base));
    margin-right: clamp(0px, calc((448px - 100vw) * 999), setting.spaces(base));
    &:hover,
    &:focus {
      background: setting.lightcolor(bg);
      color: setting.lightcolor(dimmed);
    }
    @include tool.min-screen(448px) {
      max-width: max-content;
    }
  }
  &\:ghost {
    border: solid 2px setting.lightcolor(bg);
    background: setting.lightcolor(overlay);
    &:hover,
    &:focus {
      background: setting.lightcolor(bg);
      color: setting.lightcolor(dimmed);
    }
    .c-front-box\:plan & {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      max-width: max-content;
      align-items: center;
      gap: setting.spaces(xs);
    }
  }
}
