@use '../settings' as setting;
.c-entry {
  line-height: setting.lineheight(body);
  h2 {
    font-weight: setting.fontweight(b);
    line-height: setting.lineheight(heading);
    font-size: clamp(setting.fontsize(l), calc((100vw - 650px) * 999), setting.fontsize(xl));
    & + * {
      margin-top: setting.spaces(l);
    }
  }
  h3 {
    font-weight: setting.fontweight(b);
    line-height: setting.lineheight(heading);
    color: setting.lightcolor(bg);
    background: setting.brandcolor(base);
    padding: setting.spaces(xs);
    font-size: clamp(setting.fontsize(m), calc((100vw - 650px) * 999), setting.fontsize(l));
    margin: setting.spaces(m) 0;
    &\:first {
      margin-top: 0;
    }
  }
  a {
    display: inline-block;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-break: break-word;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.c-link\:redume {
      display: block;
      text-decoration: none;
    }
  }
}
.c-insert-img {
  margin: setting.spaces(base) 0;
}
.c-author-pict {
  width: 100px;
  margin: 0 auto;
}
.c-author-name {
  font-weight: setting.fontweight(b);
  font-size: setting.fontsize(m);
  display: table;
  margin: auto;
  width: min(calc((100vw - 540px) * 999), 100%);
  min-width: max-content;
}
.c-front-box {
  padding-top: setting.spaces(l);
  padding-bottom: setting.spaces(l);
  &\:borderBottom {
    border-bottom: solid 1px var(--c-separator);
  }
  &\:plan {
    background: setting.brandcolor(base);
    color: setting.lightcolor(bg);
  }
}
.c-redume {
  margin-bottom: setting.spaces(base);
  padding: setting.spaces(base) setting.spaces(base) 0 setting.spaces(base);
  border: solid 1px var(--c-separator);
}
.c-author-box {
  padding: setting.spaces(base);
  border: solid 1px var(--c-separator);
  background: var(--c-overlay);
  margin-bottom: setting.spaces(l);
  color: var(--c-dimmed);
}
.swiper-slide {
  position: relative;
  > .o-frame > * {
    animation: zoomOut 5s ease-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.c-map-embed {
  max-height: 450px;
  overflow: hidden;
}
.c-bottom-float {
  position: fixed;
  left: 0;
  width: 100%;
  background: setting.brandcolor(dark);
  z-index: 9999;
  transition: bottom setting.animes(duration) setting.animes(timing),
  opacity setting.animes(duration) setting.animes(timing);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  bottom: clamp(-157px, calc((448px - 100vw) * 999), -94px);
  &__inner {
    padding: setting.spaces(base) clamp(setting.spaces(2xs), calc(3.5vw - setting.spaces(base)), setting.spaces(base));
    display: flex;
		align-items: center;
		justify-content: center;
    gap: setting.spaces(base);
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0 0px 2px setting.brandcolor(dark);
    margin-right: 60px;
  }
  &--is-view {
    bottom: 0;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
}
.c-btn-float {
  position: absolute;
  line-height: 1;
  right: -60px;
  top: 0px;
  display: flex;
  width: 60px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: setting.lightcolor(bg);
  font-size: 24px;
  background: setting.lightcolor(dimmed);
  cursor: pointer;
}