@use '../settings' as setting;
.c-heading {
  font-weight: setting.fontweight(b);
  line-height: setting.lineheight(heading);
  font-size: clamp(setting.fontsize(l), calc((100vw - 650px) * 999), setting.fontsize(xl));
  text-align: center;
  &\:mrn {
    font-family: setting.$font-family-mrn;
    position: relative;
    top: 24px;
  }
  & + * {
    margin-top: setting.spaces(l);
  }
}
.c-trim-title {
  font-weight: setting.fontweight(b);
  line-height: setting.lineheight(heading);
  font-size: setting.fontsize(m);
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  max-height: calc(setting.fontsize(m) * setting.lineheight(heading) * 2);
  text-overflow: ellipsis;
  &__link {
    color: inherit;
  }
}
.c-min-heading {
  font-weight: setting.fontweight(b);
  line-height: setting.lineheight(heading);
  color: setting.lightcolor(bg);
  background: setting.brandcolor(base);
  padding: setting.spaces(xs);
  font-size: clamp(setting.fontsize(m), calc((100vw - 650px) * 999), setting.fontsize(l));
  & + * {
    margin-top: setting.spaces(m);
  }
  &\:center {
    text-align: center;
  }
}
