@use '../settings' as setting;
@use '../tools' as tool;

.c-logo,
.c-menu-logo,
.c-footer-logo {
  line-height: setting.lineheight(heading);  
  font-family: setting.$font-family-mrn;
  color: setting.lightcolor(bg);
  padding-top: 10px;
}
.c-logo {
  font-size: setting.fontsize(l);
}
.c-menu-logo,
.c-footer-logo {
  font-size: clamp(setting.fontsize(l), calc((100vw - 500px) * 999), setting.fontsize(xl));
  font-weight: setting.fontweight(b);
  margin-bottom: setting.spaces(l);
}
.c-footer-logo {
  display: table;
  margin: setting.spaces(m) auto;
}
